<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" data-bs-theme="dark">

<head>
    <th:block th:replace="~{fragments/controlpanel.html :: mainHead}">
        <!-- Loads head from the fragments using Thymeleaf -->
    </th:block>
    <title>Dashboard</title>
</head>

<body style="padding-top: 60px">
    
    <nav th:replace="~{fragments/controlpanel.html :: navbar(activeLink='dashboard')}">
        <!-- Loads navbar and heading from the fragments using Thymeleaf -->
    </nav>

    <main style="padding-left: 1.5rem; padding-right: 1.5rem">
        <div class="row row-cols-1 row-cols-sm-2  row-cols-xl-3 g-3">

            <!-- Telescope status -->
            <div class="col mx-auto">
                <div class="card h-100 text-bg-primary" style="max-width: 32rem; min-width: 15rem">
                    <div class="card-header"><h5 class="card-title">Telescope</h5></div>
                    <div class="card-body text-bg-light">
                        <div class="row flex-nowrap">
                            <div class="col-auto">
                                <p class="card-text">
                                    Connected: <br>
                                    LST: <br>
                                    RA: <br>
                                    DEC: <br>
                                    Altitude: <br>
                                    Azimuth: <br>
                                    Slewing: <br>
                                    Tracking: <br>
                                    At Home: <br>
                                    Parked: <br>
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <span id="tsConnected">???</span><br>
                                    <span id="tsSiderealTime">???</span><br>
                                    <span id="tsRightAscension">???</span><br>
                                    <span id="tsDeclination">???</span><br>
                                    <span id="tsAltitude">???</span><br>
                                    <span id="tsAzimuth">???</span><br>
                                    <span id="tsSlewing">???</span><br>
                                    <span id="tsTracking">???</span><br>
                                    <span id="tsAtHome">???</span><br>
                                    <span id="tsParked">???</span><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dome status -->
            <div class="col mx-auto">
                <div class="card h-100 text-bg-primary" style="max-width: 32rem; min-width: 15rem">
                    <div class="card-header"><h5 class="card-title">Dome</h5></div>
                    <div class="card-body text-bg-light">
                        <div class="row flex-nowrap">
                            <div class="col-auto">
                                <p class="card-text">
                                    Connected: <br>
                                    Azimuth: <br>
                                    Shutter: <br>
                                    Slaved: <br>
                                    Slewing: <br>
                                    At Home: <br>
                                    Parked: <br>
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <span id="dmConnected">???</span><br>
                                    <span id="dmAzimuth">???</span><br>
                                    <span id="dmShutter">???</span><br>
                                    <span id="dmSlaved">???</span><br>
                                    <span id="dmSlewing">???</span><br>
                                    <span id="dmAtHome">???</span><br>
                                    <span id="dmParked">???</span><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Focuser status -->
            <div class="col mx-auto">
                <div class="card h-100 text-bg-primary" style="max-width: 32rem; min-width: 15rem">
                    <div class="card-header"><h5 class="card-title">Focuser</h5></div>
                    <div class="card-body text-bg-light">
                        <div class="row flex-nowrap">
                            <div class="col-auto">
                                <p class="card-text">
                                    Connected: <br>
                                    Position: <br>
                                    Temperature: <br>
                                    Compensation: <br>
                                    Moving: <br>
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <span id="fcConnected">???</span><br>
                                    <span id="fcPosition">???</span> steps<br>
                                    <span id="fcTemperature">???</span> °C<br>
                                    <span id="fcTempComp">???</span><br>
                                    <span id="fcMoving">???</span><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Camera status -->
            <div class="col mx-auto">
                <div class="card h-100 text-bg-primary" style="max-width: 32rem; min-width: 15rem">
                    <div class="card-header"><h5 class="card-title">Camera</h5></div>
                    <div class="card-body text-bg-light">
                        <div class="row flex-nowrap">
                            <div class="col-auto">
                                <p class="card-text">
                                    Connected: <br>
                                    Temperature: <br>
                                    Status: <br>
                                    Binning: <br>
                                    Subframe: <br>
                                    Cooler: <br>
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <span id="caConnected">???</span><br>
                                    <span id="caTemperature">???</span> °C<br>
                                    <span id="caStatus">???</span><br>
                                    <span id="caBinning">???</span><br>
                                    <span id="caSubframe">???</span><br>
                                    <span id="caCooler">???</span><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>      
    </main>


    <th:block th:replace="~{fragments/controlpanel.html :: bottomDefs}"/>
    <script src="/js/dashboard.js"></script>
</body>

</html>