<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" data-bs-theme="dark">

<head>
    <th:block th:replace="~{fragments/controlpanel.html :: mainHead}">
        <!-- Loads head from the fragments using Thymeleaf -->
    </th:block>
    <link href="/css/noArrowsOnInput.css" rel="stylesheet">
    <title>Dome</title>
</head>

<body style="padding-top: 60px">
    <nav th:replace="~{fragments/controlpanel.html :: navbar(activeLink='dome')}">
        <!-- Loads navbar and heading from the fragments using Thymeleaf -->
    </nav>
    <main style="padding-left: 1.5rem; padding-right: 1.5rem">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-3">
            <div class="col mx-auto">
                <div class="card h-100 text-bg-primary mx-auto" style="max-width: 32rem; min-width: 15rem">
                    <div class="card-header"><h5 class="card-title">Status</h5></div>
                    <div class="card-body text-bg-light">
                        <div class="row flex-nowrap">
                            <div class="col-auto">
                                <p class="card-text">
                                    Connected: <br>
                                    Azimuth: <br>
                                    Shutter: <br>
                                    Slaved: <br>
                                    Slewing: <br>
                                    At Home: <br>
                                    Parked: <br>
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <span id="dmConnected">???</span><br>
                                    <span id="dmAzimuth">???</span><br>
                                    <span id="dmShutter">???</span><br>
                                    <span id="dmSlaved">???</span><br>
                                    <span id="dmSlewing">???</span><br>
                                    <span id="dmAtHome">???</span><br>
                                    <span id="dmParked">???</span><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col mx-auto" sec:authorize="hasRole('ADVANCED_USER')">
                <div class="card h-100 text-bg-primary" style="max-width: 32rem; min-width: 15rem" id="controlPanel">
                    <div class="card-header"><h5 class="card-title">Control</h5></div>
                    <div class="card-body text-bg-light">
                        <div class="container-fluid">
                            <div class="d-flex flex-row justify-content-between p-1">
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary w-100 text-nowrap" id="dmPark" disabled>Park</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-primary w-100 text-nowrap" id="dmConnect" disabled>Connect</button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary w-100 text-nowrap" id="dmGoHome" disabled>Home</button>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center p-1">
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary w-100 dmmoveshutter" id="dmSlewOpen" disabled>
                                        <i class="bi bi-chevron-bar-expand"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary w-100 dmslew" id="dmSlewCCW" disabled>
                                        <i class="bi bi-arrow-counterclockwise"></i>
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary w-100 text-bg-danger" id="dmAbort" disabled>
                                        <i class="bi bi-sign-stop"></i>
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary w-100 dmslew" id="dmSlewCW" disabled>
                                        <i class="bi bi-arrow-clockwise"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center p-1">
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary w-100 dmmoveshutter" id="dmSlewClose" disabled>
                                        <i class="bi bi-chevron-bar-contract"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-1">
                                <div class="col-3 ">
                                    <div class="form-check form-switch w-100">
                                        <input class="form-check-input" type="checkbox" role="switch" id="dmSlave">
                                        <label class="form-check-label" for="dmSlave">Slaved</label>
                                    </div>
                                </div>
                                <div class="col-4 ">
                                    <button type="button" class="btn btn-primary w-100 text-nowrap" id="dmShutterOpen" disabled>Open shutter</button>
                                </div>
                                <div class="col-3 justify-content-between align-items-center p-1">
                                    <div class="row align-items-center justify-content-end flex-nowrap">
                                        <div class="col-auto">
                                            <label class="form-label" for="dmRate">Rate</label>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select text-bg-primary" id="dmRate">
                                                <option value="0.00416666">15"</option>
                                                <option value="0.00833333">30"</option>
                                                <option value="0.01666666">1'</option>
                                                <option value="0.08333333">5'</option>
                                                <option value="0.25000000" >15'</option>
                                                <option value="0.50000000">30'</option>
                                                <option value="1.00000000">1°</option>
                                                <option value="5.00000000" selected>5°</option>
                                                <option value="15.00000000">15°</option>
                                                <option value="30.00000000">30°</option>
                                                <option value="90.00000000">90°</option>
                                            </select>
                                        </div>    
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-auto" sec:authorize="hasRole('ADVANCED_USER')">
                <div class="card h-100 text-bg-primary" style="max-width: 32rem; min-width: 15rem" id="slewPanel">
                    <div class="card-header"><h5 class="card-title">Move to</h5></div>

                    <div class="card-body text-bg-light container-fluid">
                        <form class="row" id="dmSlewAbs">
                            <div class="col-9">
                                <p class="card-text">Slew dome</p>
                                <div class="input-group mb-3">
                                    <div class="d-flex flex-row justify-content-between">
                                        <span class="input-group-text text-center">Az</span>
                                        <input type="number" class="form-control flex-fill dmslewaz" placeholder="---" min="0" max="360" id="dmSlewDegs">
                                        <span class="input-group-text">°</span>
                                        <input type="number" class="form-control flex-fill dmslewaz" placeholder="--" min="0" max="59" id="dmSlewMins">
                                        <span class="input-group-text">&#39;</span>
                                        <input type="number" class="form-control flex-fill dmslewaz" placeholder="--" min="0" max="59" id="dmSlewSecs">
                                        <span class="input-group-text">&quot;</span>   
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 align-items-center">
                                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                    <button type="submit" class="btn btn-primary w-100 dmslewaz" id="dmSlewTo" disabled>Slew</button>
                                </div>
                            </div>    
                        </form>
                        <div class="row">
                            <div class="col-9">
                                <label for="dmShutterSlider" class="form-label">Set shutter</label>
                                <input type="range" class="form-range dmmoveshutterabs" min="0" max="1.0" step="0.01" value="0" id="dmShutterSlider">
                            </div>
                            <div class="col-3 align-items-center">
                                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                    <button type="button" class="btn btn-primary w-100 dmmoveshutterabs" id="dmSetTo" disabled>Set</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </main>

    <th:block th:replace="~{fragments/controlpanel.html :: bottomDefs}"/>
    <script src="/js/dome.js"></script>
</body>

</html>